.view-post .columns {
    grid-template-columns: 2fr 1fr;
    margin-right: 3%;
}

.view_report {
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: border-color 0.25s;
}
.view_report:hover {
    border-color: #646cff;
}

.viewer_report_loc {
    display: flex;
    justify-self: right;
}

.media-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "a a"
        "a a";
}
.media-gallery > img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}
.media-gallery > .first {
    grid-area: a;
}