.button-grid {
    display: flex;
}

.danger {
    width: 20vw;
}

.delete, .confirm {
    background-color: red;
}

.reset {
    background-color: lightgray;
}

.block {
    width: 100px;
}

.report {    
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: border-color 0.25s;
}
.report:hover {
    border-color: #646cff;
}