.profile-columns {
    display:grid;
    grid-template-columns: 1fr fit-content(200px);
}

.profile_pic_loc {
	display:flex;
	justify-content: center;
}

.profile_pic {
	display:flex;
	justify-content: center;
}

.profile_edit_loc{

}

.profile_username_loc{

}

.profile_username {

}

.profile_email_loc {
	display: flex;
	justify-content:center;
}

.profile_email {

}

.profile_BIO_loc {
	margin-left: 5%;
	margin-right: 5%;
}

.profile_BIO_title {

}

.profile_BIO_content {
	border: 2px solid var(--color2);
	padding: 20px;
	min-height: 10vh;
}

p {
    text-align: left;
}