.button-bar {
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
	height: 2em;
}
.button-bar > div.icon {
	display:flex;
	flex-direction: column;
}
.button-bar .icon
{
	height: 2em;
	width: 2em;

	background: #f9f9f9;
	border-radius: 8px;
}
.button-bar > .right
{
	flex:1;
	display: flex;
	flex-direction: row-reverse;
}

.center-container {
	display: flex;
	justify-content: center;
}
.profile_pic_loc {
	width: 10%;
	min-width: 32px;
	min-height: 32px;
	aspect-ratio: 1;
}

.profile_pic {
	justify-self: center;
	width: 100%;
	object-fit: contain;
}

.profile_edit_loc{

}

.profile_username_loc{

}

.profile_username {

}

.profile_email_loc {
	display: flex;
	justify-content:center;
}

.profile_email {

}

.profile_BIO_loc {
	margin-left: 5%;
	margin-right: 5%;
}

.profile_BIO_title {

}

.profile_BIO_content {
	border: 2px solid var(--color2);
	padding: 20px;
	min-height: 10vh;
}

.profile_location{
	display: none;
}

p {
    text-align: left;
}