head_img {
  max-width: 100%;
}

p {
  margin: 0 0 1em 0;
}

.head_title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.head_title .img {
  display: flex;
  flex-direction: row-reverse;
  grid-column: 3;
}
.head_title .name {
  grid-column: 2;
}
.head_title .name h1 {
  text-align: center;
}

@media (width >= 500px) {
  .media {
    display: grid;
    grid-template-columns: 1fr fit-content(200px);
    grid-template-areas:
      "content image";
    grid-gap: 20px;
  }

  .media-flip {
    grid-template-columns: fit-content(250px) 1fr;
    grid-template-areas:
      "image content";
  }
}

.head_userSearch {
  justify-self: left;
  justify-content: left;
}
