h1 {
    text-align: center;
}

p {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    aspect-ratio: 2/1;
    border: 15px solid black;
    margin: 15px;
}
