.idea/
.vscode/
upload-dir/*
!upload-dir/placeholder.png
marketplace/target/
# marketplace/src/main/resources/application.properties
*.drawio.bkp

marketplace/src/main/resources/application.properties
