p {
    text-align: left;
}

.TagsList 
{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.TagsList > li
{
    margin-right: 20px;
}

.postsGrid 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.listings_search_submit_button {
	display: flex;
	justify-content: center;
	justify-self: center;
}

.postCard 
{
    border: 2px solid black;
    margin: 20px;
    display: grid;
    justify-items: center;
}
.postCard > img
{
    object-fit: cover;
    max-width: 60%;
    aspect-ratio: 1/1;
}

.post-image
{
    width: 60%;
    aspect-ratio: 4/3;
}
.post-image img 
{
    width: 100%;
    max-height: 100%;
    object-fit:contain;
    aspect-ratio: initial;
}

.postCard > p > a
{
    margin-right: 10px;
}