p {
    text-align: left;
}

.columns {
	flex: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.columns .message {
	margin-top: 6em;
	padding-top: .75em;
	padding-bottom: .5em;
	padding: .75em .2em .5em .2em;

	background-color: var(--colorbg1);
	border: .1em solid var(--color0);
}

.logUserInput {
	display: flex;
	flex-direction: column;
   	justify-content: center;
   	align-items: center;
}

.logPassInput {
	display: flex;
	flex-direction: column;
   	justify-content: center;
   	align-items: center;
}

.logSubmit {
	display: flex;
	flex-direction: column;
   	justify-content: center;
   	align-items: center;
}

.logRegLink {
	display: flex;
   	justify-content: center;
   	align-items: center;
   	text-align: center;
}

.loginBox {
	position:relative;
	top: 100px;
	vertical-align: center;
	background-color: grey;
	justify-self: center;
	border: 2px solid #1C6EA4;
	width: 300px;
}