.nav_bar {
    background-color: #99844D;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "a b c";
}

.title {
    justify-self: center;
    align-self: center;

    color:black;
    font-size: larger;
    font-weight: bold;
}
.title:hover {
    color: black;
}

.profile {
    justify-self: right;
}

.login_loc {
	justify-self:right;
}

.login {
	justify-self:left;

	color: black;
	font-size:larger;
	font-weight: bold;
}

.login:hover {
	color: black
}